* {
    padding: 0;
    margin: 0;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.bar1,
.bar2,
.bar3 {
    width: 7em;
    height: 0.9em;
    background-color: rgb(255, 255, 255);
    margin: 1.1em;
    border-radius: 5px;
}

#striche {
    margin: 29%;
    margin-top: 3em;
}

#menu {
    display: grid;
    height: 3em;
    margin-top: 1.4em;
    justify-content: center;
}

#button {
    margin-top: 1em;
}

nav {
    
    background-color: #5baf42;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    transform: translateX(-100vw);
    transition: transform 0.4s ease-in-out;
}
  nav.visible {
    transform: translateX(0)
}

nav.back {
    transform: translateX(0);
}

h1 {
    text-align: center;
    font-size: 5em;
    margin-top: 1em;
    color: white;
    margin-bottom: 1em;
}

img {
    width: 79%;
    margin: 2em 0 1.9em 0;
}

.grid {
    display: grid;
    grid-template-columns: 20% 59% 20%;
    background: linear-gradient(to right, #2F9132, #57AD41);
}

.grid2 {
    display: grid;
    grid-template-columns: 26% 40% 34%;
    border-style: solid;
    border-width: 0.2em;
    background-color: #5BAF42;
    text-align: center;
}

div.inhalt {
    border-right: black solid;
    font-size: 1.2em;
}

div.inhalt2 {
    border-right: black solid;
    font-size: 1.2em;
}

div.inhalt3 {
    border-right: black solid;
    font-size: 1.2em;
}

span {
    color: white;
    font-size: 3em;
}

h2 {
    color: #5BAF42;
    text-align: center;
    margin: 2.7em 1em 2.7em 1em;
    font-size: 4em;
}
h3{
    color: #5BAF42;
    text-align: left;
    margin: 2.7em 0.5em 0 0.5em;
    font-size:3.5em;
}

div.steckbrief {
    margin-left: 3em;
}

div.label {
    margin: 1em 0 0.5em 0;
    font-size: 3em;
}

input.feld {
    width: 20em; height: 1.5em;
    font-size: 2em;
}

#comment {
    width: 24em; height: 5em;
    font-size: 2em;
}
div.bild {
    margin: 1em 0 1.9em 0;
}

div.auswahl1 {
    text-align: center;
    margin-top: 12em;
}
a.link,
a.link2,
a.link3 {
    font-size: 8em;
    text-decoration: none;
    color: white;
    margin: 0 0 0.8em 0;
}

img.katze {
    width: 100%;
    margin: 4em 0 10em 0;
}

a.auswahlunten {
    text-decoration: none;
}

input[type="submit"] {
    width: 7em; height: 1.5em;
    font-size: 2em;
}

input[type="file"] {
    width: 20em; height: 1.5em;
    font-size: 2em;
}

h2.inhalthome {
    color: #5BAF42;
    text-align: center;
    margin: 2.7em 1em 3em 1em;
    font-size: 3.6em;
}

p.back {
    font-size: 6em;
    color: white;
    text-align: center;
}

ul.aufzählung {
    font-size: 2.5em;
    margin: 1.5em 0 0 3em;
}